#main1
{
    border:1px solid red;
    background:white;
	margin-top:5px;
	margin-bottom:5px;
	overflow:auto;
	width:470px;
	padding:10px;
	margin-left:260px;
}
#desc
{
    height:180px;
    width:250px;
    padding:5px;
    margin-bottom:10px;
    margin-left:120px;
}
h3
{
    color:red;
    margin-left:20px;
    margin-top:5px;
}
#det
{
    height:180px;
    width:420px;
    padding:10px;
    margin-bottom:10px;
    margin-left:15px;
}
#signup
{
    height:30px;
    width:400px;
    padding:5px;
    margin-bottom:10px;
    margin-left:40px;
}
.btn
{
    margin-left:60px;
}